@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  /* background-color: #ffffff; */
  max-width: 19cm;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.grid-container {
  display: grid;
  grid-template-columns: 17% 13% 35% 35%;
}
.img-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


.table-row-margin {
  margin-bottom: 20px;
}

.grid-containerP {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

