@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  /* background-color: #ffffff; */
  max-width: 21cm;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.grid-container {
  display: grid;
  grid-template-columns: 17% 13% 35% 35%;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}




.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

